Repository jvquarck/barista, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thomaspink, @ffriedl89, @tomheller, @lukasholzer, @lara-aigmueller, @szymonbultrowicz, @toddbaert, @moertenschlag, @rowa-audil, @heartdisease, @areknow, @NinaKammerlander

docs: remove Slack channel
  RELEASE.md
  components/filter-field/README.md
  components/micro-chart/README.md
Owners: @thomaspink, @ffriedl89, @tomheller

docs: remove Slack channel
  RELEASE.md
  components/filter-field/README.md
  components/micro-chart/README.md
Owners: @thomaspink, @ffriedl89, @tomheller

refactor(button-group): Removed duplicate disabled input from button-group
  components/button-group/src/button-group.ts
Owners: @tomheller

refactor(button-group): Removed duplicate disabled input from button-group
  components/button-group/src/button-group.ts
Owners: @tomheller

purge
  components/assets/fonts/fonticons/selection.json
  package-lock.json
Owners: @thomaspink, @ffriedl89, @tomheller

docs(card): Update event card section
  components/card/README.md
Owners: @ffriedl89

chore(tree-table): Fix icon used
  apps/dev/src/tree-table/tree-table-demo.component.ts
Owners: @thomaspink, @lukasholzer

build: Added missing dependencies.
  package-lock.json
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller

purge
  components/assets/fonts/fonticons/selection.json
  package-lock.json
Owners: @thomaspink, @ffriedl89, @tomheller

build: Added missing dependencies.
  package-lock.json
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller

chore(tree-table): Fix icon used
  apps/dev/src/tree-table/tree-table-demo.component.ts
Owners: @thomaspink, @lukasholzer

docs(card): Update event card section
  components/card/README.md
Owners: @ffriedl89

barista(overview-pages): Created overview page json output.
  apps/barista/src/layout/tile/tile.html
  apps/barista/src/layout/tile/tile.ts
  apps/barista/src/shared/page-contents.ts
  tools/barista/src/builder/components.ts
  tools/barista/src/main.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink

chore(barista): Added the possibility to define a data-hosturl for barista content
  apps/barista/src/environments/environment.prod.ts
  apps/barista/src/environments/environment.ts
  apps/barista/src/pages/single-page/single-page.html
  apps/barista/src/shared/page.service.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink

chore: Auto-apply format changes of prettier on pre-commit.
  package-lock.json
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller

chore: Auto-apply format changes of prettier on pre-commit.
  package-lock.json
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller

ci: Run unit tests on ci.
  .circleci/config.yml
Owners: @thomaspink, @ffriedl89, @tomheller

ci: Run unit tests on ci.
  .circleci/config.yml
Owners: @thomaspink, @ffriedl89, @tomheller

fix(style): Fixes an issue where the icon for external links had to be provided as a background image.
  apps/dev/src/link/link-demo.component.html
  components/expandable-text/src/expandable-text.scss
  components/style/_external-link.scss
  components/style/_link.scss
  components/style/icons/_fonticon.scss
  components/style/icons/_icons-mixin.scss
  components/style/icons/_index.scss
  components/style/main.scss
Owners: @thomaspink, @lukasholzer, @rowa-audil, @ffriedl89, @tomheller

fix(style): Fixes an issue where the icon for external links had to be provided as a background image.
  apps/dev/src/link/link-demo.component.html
  components/expandable-text/src/expandable-text.scss
  components/style/_external-link.scss
  components/style/_link.scss
  components/style/icons/_fonticon.scss
  components/style/icons/_icons-mixin.scss
  components/style/icons/_index.scss
  components/style/main.scss
Owners: @thomaspink, @lukasholzer, @rowa-audil, @ffriedl89, @tomheller

chore: Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @thomaspink, @ffriedl89, @tomheller

chore: Add correct templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Owners: @thomaspink, @ffriedl89, @tomheller

chore: Add correct templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Owners: @thomaspink, @ffriedl89, @tomheller

chore: Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @thomaspink, @ffriedl89, @tomheller

docs(contributing): Add message to notify that external contributions are on hold
  CONTRIBUTING.md
Owners: @thomaspink, @ffriedl89, @tomheller

docs(contributing): Add message to notify that external contributions are on hold
  CONTRIBUTING.md
Owners: @thomaspink, @ffriedl89, @tomheller

barista(overview-pages): Changes according to PR review.
  apps/barista/src/layout/tile/tile.ts
  tools/barista/src/main.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink

barista(overview-pages): Code formatting.
  apps/barista/src/layout/tile/tile.ts
  tools/barista/src/main.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink

build: Fixes the dependency graph.
  angular.json
  nx.json
  package.json
  tslint.spec.json
Owners: @thomaspink, @ffriedl89, @tomheller

build: Fixes the dependency graph.
  angular.json
  nx.json
  package.json
  tslint.spec.json
Owners: @thomaspink, @ffriedl89, @tomheller

ci: Run jest tests in ci in band to avoid ressource problems.
  .circleci/config.yml
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller

ci: Run jest tests in ci in band to avoid ressource problems.
  .circleci/config.yml
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller

docs: Improve bug issue template.
  .github/ISSUE_TEMPLATE/bug.md
Owners: @thomaspink, @ffriedl89, @tomheller

docs: Improve bug issue template.
  .github/ISSUE_TEMPLATE/bug.md
Owners: @thomaspink, @ffriedl89, @tomheller

chore(barsita-fonts): Fixed imports and variables to use barista-font.
  angular.json
  apps/dev/src/main.scss
  components/core/src/style/_variables.scss
  components/package.json
  components/style/_typography.scss
  components/style/index.scss
  package-lock.json
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller, @lukasholzer

chore(barsita-fonts): Fixed imports and variables to use barista-font.
  angular.json
  apps/dev/src/main.scss
  components/core/src/style/_variables.scss
  components/package.json
  components/style/_typography.scss
  components/style/index.scss
  package-lock.json
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller, @lukasholzer

docs: Improve the feature issue template.
  .github/ISSUE_TEMPLATE/feature.md
Owners: @thomaspink, @ffriedl89, @tomheller

docs: Improve the feature issue template.
  .github/ISSUE_TEMPLATE/feature.md
Owners: @thomaspink, @ffriedl89, @tomheller

build: Create own stylelint builder to get custom reports.
  angular.json
  package-lock.json
  package.json
  tools/builders/builders.json
  tools/builders/index.ts
  tools/builders/package.json
  tools/builders/stylelint/index.ts
  tools/builders/stylelint/junit-formatter/existing-result.interface.ts
  tools/builders/stylelint/junit-formatter/index.ts
  tools/builders/stylelint/junit-formatter/junit-formatter.ts
  tools/builders/stylelint/junit-formatter/parse-exisiting-suite.ts
  tools/builders/stylelint/junit-formatter/parse-suite.ts
  tools/builders/stylelint/junit-formatter/parsed-suite.interface.ts
  tools/builders/stylelint/read-files.ts
  tools/builders/stylelint/schema.json
  tools/builders/stylelint/stylelint-builder-options.ts
  tools/builders/tsconfig.json
Owners: @thomaspink, @ffriedl89, @tomheller

build: Create own stylelint builder to get custom reports.
  angular.json
  package-lock.json
  package.json
  tools/builders/builders.json
  tools/builders/index.ts
  tools/builders/package.json
  tools/builders/stylelint/index.ts
  tools/builders/stylelint/junit-formatter/existing-result.interface.ts
  tools/builders/stylelint/junit-formatter/index.ts
  tools/builders/stylelint/junit-formatter/junit-formatter.ts
  tools/builders/stylelint/junit-formatter/parse-exisiting-suite.ts
  tools/builders/stylelint/junit-formatter/parse-suite.ts
  tools/builders/stylelint/junit-formatter/parsed-suite.interface.ts
  tools/builders/stylelint/read-files.ts
  tools/builders/stylelint/schema.json
  tools/builders/stylelint/stylelint-builder-options.ts
  tools/builders/tsconfig.json
Owners: @thomaspink, @ffriedl89, @tomheller

.github/CODEOWNERS:

/* @thomaspink @ffriedl89 @tomheller
/** @thomaspink @ffriedl89 @tomheller

# Components
/components/* @lukasholzer @thomaspink
/components/alert/** @lara-aigmueller
/components/autocomplete/** @thomaspink
/components/bar-indicator/** @tomheller
/components/breadcrumbs/** @ffriedl89 @szymonbultrowicz
/components/button/** @thomaspink
/components/button-group/** @tomheller
/components/card/** @ffriedl89
/components/chart/** @ffriedl89 @lukasholzer
/components/checkbox/** @thomaspink
/components/confirmation-dialog/** @toddbaert @ffriedl89
/components/consumption/** @ffriedl89
/components/container-breakpoint-observer/** @thomaspink
/components/context-dialog/** @ffriedl89
/components/copy-to-clipboard/** @ffriedl89 @moertenschlag
/components/cta-card/** @thomaspink
/components/drawer/** @lukasholzer @rowa-audil
/components/empty-state/** @lara-aigmueller @lukasholzer @heartdisease
/components/event-chart/** @thomaspink @tomheller
/components/expandable-panel/** @lara-aigmueller
/components/expandable-section/** @lara-aigmueller
/components/expandable-text/** @rowa-audil @ffriedl89
/components/filter-field/** @thomaspink @tomheller
/components/form-field/** @thomaspink
/components/formatters/** @ffriedl89
/components/highlight/** @lukasholzer
/components/icon/** @thomaspink
/components/info-group/** @ffriedl89
/components/inline-editor/** @thomaspink
/components/input/** @thomaspink
/components/key-value-list/** @ffriedl89 @moertenschlag
/components/legend/** @thomaspink
/components/link/** @szymonbultrowicz
/components/loading-distractor/** @thomaspink
/components/menu/** @heartdisease
/components/micro-chart/** @ffriedl89 dlaubi-dt
/components/overlay/** @ffriedl89
/components/pagination/** @lukasholzer
/components/progress-bar/** @tomheller
/components/progress-circle/** @ffriedl89
/components/radio/** @thomaspink
/components/schematics/** @ffriedl89
/components/secondary-nav/** @areknow @thomaspink
/components/select/** @thomaspink
/components/selection-area/** @ffriedl89 @lukasholzer
/components/show-more/** @lara-aigmueller
/components/stepper/** @ffriedl89
/components/switch/** @lara-aigmueller
/components/table/** @ffriedl89 @tomheller @lara-aigmueller
/components/tabs/** @ffriedl89
/components/tag/** @rowa-audil
/components/tile/** @ffriedl89
/components/timeline-chart/** @thomaspink
/components/toast/** @ffriedl89
/components/toggle-button-group/** @tomheller
/components/top-bar-navigation/** @lukasholzer
/components/tree-table/** @ffriedl89

# Apps
/apps/* @lukasholzer @thomaspink

# Barista
/apps/barista/* @thomaspink @lukasholzer
/apps/barista/src/** @lara-aigmueller @NinaKammerlander @thomaspink

# Barista-examples
/apps/barista-examples/* @thomaspink @lukasholzer
/apps/barista-examples/src/** @thomaspink @ffriedl89 @tomheller

# e2e
/apps/components-e2e/* @lukasholzer
/apps/components-e2e/src/** @lukasholzer

# Dev app
/apps/dev/* @thomaspink @lukasholzer
/apps/dev/src/** @thomaspink @lukasholzer

# Universal
/apps/universal/* @thomaspink @lukasholzer
/apps/universal/src/** @thomaspink @lukasholzer

# Documentation
/apps/documentation/** @lara-aigmueller

# Libs
/libs/* @lukasholzer @thomaspink
/libs/testing/** @thomaspink

# Tools
/tools/* @lukasholzer @thomaspink

/tools/barista/* @thomaspink
/tools/barista/src/** @lara-aigmueller @thomaspink

/tools/bitbucket-tools/* @tomheller
/tools/bitbucket-tools/src/** @tomheller

/tools/gulp/** @thomaspink

/tools/linting/* @thomaspink @lukasholzer
/tools/linting/src/** @rowa-audil @lara-aigmueller @heartdisease

/tools/release/** @thomaspink

/tools/schematics/** @ffriedl89

/tools/stylelint/** @thomaspink

/tools/tslint-rules/** @thomaspink
