Repository jvquarck/barista, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thomaspink, @ffriedl89, @tomheller, @lukasholzer, @lara-aigmueller, @szymonbultrowicz, @toddbaert, @moertenschlag, @rowa-audil, @heartdisease, @areknow, @NinaKammerlander

.github/CODEOWNERS:

/* @thomaspink @ffriedl89 @tomheller
/** @thomaspink @ffriedl89 @tomheller

# Components
/components/* @lukasholzer @thomaspink
/components/alert/** @lara-aigmueller
/components/autocomplete/** @thomaspink
/components/bar-indicator/** @tomheller
/components/breadcrumbs/** @ffriedl89 @szymonbultrowicz
/components/button/** @thomaspink
/components/button-group/** @tomheller
/components/card/** @ffriedl89
/components/chart/** @ffriedl89 @lukasholzer
/components/checkbox/** @thomaspink
/components/confirmation-dialog/** @toddbaert @ffriedl89
/components/consumption/** @ffriedl89
/components/container-breakpoint-observer/** @thomaspink
/components/context-dialog/** @ffriedl89
/components/copy-to-clipboard/** @ffriedl89 @moertenschlag
/components/cta-card/** @thomaspink
/components/drawer/** @lukasholzer @rowa-audil
/components/empty-state/** @lara-aigmueller @lukasholzer @heartdisease
/components/event-chart/** @thomaspink @tomheller
/components/expandable-panel/** @lara-aigmueller
/components/expandable-section/** @lara-aigmueller
/components/expandable-text/** @rowa-audil @ffriedl89
/components/filter-field/** @thomaspink @tomheller
/components/form-field/** @thomaspink
/components/formatters/** @ffriedl89
/components/highlight/** @lukasholzer
/components/icon/** @thomaspink
/components/info-group/** @ffriedl89
/components/inline-editor/** @thomaspink
/components/input/** @thomaspink
/components/key-value-list/** @ffriedl89 @moertenschlag
/components/legend/** @thomaspink
/components/link/** @szymonbultrowicz
/components/loading-distractor/** @thomaspink
/components/menu/** @heartdisease
/components/micro-chart/** @ffriedl89 dlaubi-dt
/components/overlay/** @ffriedl89
/components/pagination/** @lukasholzer
/components/progress-bar/** @tomheller
/components/progress-circle/** @ffriedl89
/components/radio/** @thomaspink
/components/schematics/** @ffriedl89
/components/secondary-nav/** @areknow @thomaspink
/components/select/** @thomaspink
/components/selection-area/** @ffriedl89 @lukasholzer
/components/show-more/** @lara-aigmueller
/components/stepper/** @ffriedl89
/components/switch/** @lara-aigmueller
/components/table/** @ffriedl89 @tomheller @lara-aigmueller
/components/tabs/** @ffriedl89
/components/tag/** @rowa-audil
/components/tile/** @ffriedl89
/components/timeline-chart/** @thomaspink
/components/toast/** @ffriedl89
/components/toggle-button-group/** @tomheller
/components/top-bar-navigation/** @lukasholzer
/components/tree-table/** @ffriedl89

# Apps
/apps/* @lukasholzer @thomaspink

# Barista
/apps/barista/* @thomaspink @lukasholzer
/apps/barista/src/** @lara-aigmueller @NinaKammerlander @thomaspink

# Barista-examples
/apps/barista-examples/* @thomaspink @lukasholzer
/apps/barista-examples/src/** @thomaspink @ffriedl89 @tomheller

# e2e
/apps/components-e2e/* @lukasholzer
/apps/components-e2e/src/** @lukasholzer

# Dev app
/apps/dev/* @thomaspink @lukasholzer
/apps/dev/src/** @thomaspink @lukasholzer

# Universal
/apps/universal/* @thomaspink @lukasholzer
/apps/universal/src/** @thomaspink @lukasholzer

# Documentation
/apps/documentation/** @lara-aigmueller

# Libs
/libs/* @lukasholzer @thomaspink
/libs/testing/** @thomaspink

# Tools
/tools/* @lukasholzer @thomaspink

/tools/barista/* @thomaspink
/tools/barista/src/** @lara-aigmueller @thomaspink

/tools/bitbucket-tools/* @tomheller
/tools/bitbucket-tools/src/** @tomheller

/tools/gulp/** @thomaspink

/tools/linting/* @thomaspink @lukasholzer
/tools/linting/src/** @rowa-audil @lara-aigmueller @heartdisease

/tools/release/** @thomaspink

/tools/schematics/** @ffriedl89

/tools/stylelint/** @thomaspink

/tools/tslint-rules/** @thomaspink

docs: prepare markdown files for open source release
  CODING_STANDARDS.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  RELEASE.md
  components/confirmation-dialog/README.md
  components/expandable-panel/README.md
  components/form-field/README.md
  components/overlay/README.md
  components/table/README.md
  components/toast/README.md
  documentation/barista-content.md
  documentation/best-practices.md
  documentation/getting-started.md
  documentation/linting.md
  tools/gulp/tasks/barista-examples.ts
Owners: @thomaspink, @ffriedl89, @tomheller, @toddbaert, @lara-aigmueller

docs: prepare markdown files for open source release
  CODING_STANDARDS.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  RELEASE.md
  components/confirmation-dialog/README.md
  components/expandable-panel/README.md
  components/form-field/README.md
  components/overlay/README.md
  components/table/README.md
  components/toast/README.md
  documentation/barista-content.md
  documentation/best-practices.md
  documentation/getting-started.md
  documentation/linting.md
  tools/gulp/tasks/barista-examples.ts
Owners: @thomaspink, @ffriedl89, @tomheller, @toddbaert, @lara-aigmueller

barista: fix paths and config
  angular.json
  tools/barista/src/main.ts
Owners: @thomaspink, @ffriedl89, @tomheller, @lara-aigmueller

barista: fix paths and config
  angular.json
  tools/barista/src/main.ts
Owners: @thomaspink, @ffriedl89, @tomheller, @lara-aigmueller

build: Added initial circleci setup
  .circleci/config.yml
  .gitignore
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller

build: Added initial circleci setup
  .circleci/config.yml
  .gitignore
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller

barista(recently-ordered): added service for recently visited pages
  apps/barista/src/app.module.ts
  apps/barista/src/layout/smalltile/smalltile.html
  apps/barista/src/layout/smalltile/smalltile.scss
  apps/barista/src/layout/smalltile/smalltile.ts
  apps/barista/src/pages/index-page/index-page.html
  apps/barista/src/pages/index-page/index-page.scss
  apps/barista/src/pages/index-page/index-page.ts
  apps/barista/src/pages/single-page/single-page.html
  apps/barista/src/pages/single-page/single-page.ts
  apps/barista/src/shared/page-contents.ts
  apps/barista/src/shared/recently-ordered.service.ts
  apps/barista/src/styles/layout/_page.scss
  tools/barista/src/builder/components.ts
  tools/barista/src/types.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink

barista(package.json): fix config
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller

barista(recently-ordered): added service for recently visited pages
  apps/barista/src/app.module.ts
  apps/barista/src/layout/smalltile/smalltile.html
  apps/barista/src/layout/smalltile/smalltile.scss
  apps/barista/src/layout/smalltile/smalltile.ts
  apps/barista/src/pages/index-page/index-page.html
  apps/barista/src/pages/index-page/index-page.scss
  apps/barista/src/pages/index-page/index-page.ts
  apps/barista/src/pages/single-page/single-page.html
  apps/barista/src/pages/single-page/single-page.ts
  apps/barista/src/shared/page-contents.ts
  apps/barista/src/shared/recently-ordered.service.ts
  apps/barista/src/styles/layout/_page.scss
  tools/barista/src/builder/components.ts
  tools/barista/src/types.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink

barista(package.json): fix config
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller

build: Fix universal rendering of component library
  .circleci/config.yml
  angular.json
  apps/universal/src/app/app.module.ts
  apps/universal/src/app/app.server.module.ts
  apps/universal/src/app/barista.module.ts
  apps/universal/src/app/kitchen-sink/kitchen-sink.html
  apps/universal/src/app/kitchen-sink/kitchen-sink.ts
  apps/universal/src/index.html
  apps/universal/src/kitchen-sink/kitchen-sink.ts
  apps/universal/src/main.server.ts
  apps/universal/src/main.ts
  apps/universal/src/polyfills.ts
  apps/universal/src/prerender.ts
  apps/universal/src/server.ts
  apps/universal/tsconfig-prerender.json
  apps/universal/tsconfig.app.json
  apps/universal/tsconfig.express.json
  apps/universal/tsconfig.json
  apps/universal/tsconfig.server.json
  nx.json
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller, @lukasholzer

build: Fix universal rendering of component library
  .circleci/config.yml
  angular.json
  apps/universal/src/app/app.module.ts
  apps/universal/src/app/app.server.module.ts
  apps/universal/src/app/barista.module.ts
  apps/universal/src/app/kitchen-sink/kitchen-sink.html
  apps/universal/src/app/kitchen-sink/kitchen-sink.ts
  apps/universal/src/index.html
  apps/universal/src/kitchen-sink/kitchen-sink.ts
  apps/universal/src/main.server.ts
  apps/universal/src/main.ts
  apps/universal/src/polyfills.ts
  apps/universal/src/prerender.ts
  apps/universal/src/server.ts
  apps/universal/tsconfig-prerender.json
  apps/universal/tsconfig.app.json
  apps/universal/tsconfig.express.json
  apps/universal/tsconfig.json
  apps/universal/tsconfig.server.json
  nx.json
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller, @lukasholzer

chore(linting): Added require-license-banner rule
  angular.json
  apps/barista-examples/tslint.json
  package.json
  tools/tslint-rules/dtRequireLicenseBannerRule.ts
  tslint.json
Owners: @thomaspink, @ffriedl89, @tomheller, @lukasholzer

chore(linting): Added require-license-banner rule
  angular.json
  apps/barista-examples/tslint.json
  package.json
  tools/tslint-rules/dtRequireLicenseBannerRule.ts
  tslint.json
Owners: @thomaspink, @ffriedl89, @tomheller, @lukasholzer

docs: remove internal link to UX wiki
  components/breadcrumbs/barista.json
  components/chart/barista.json
  components/context-dialog/barista.json
  components/empty-state/barista.json
  components/filter-field/barista.json
  components/input/barista.json
  components/table/barista.json
  components/timeline-chart/barista.json
Owners: @ffriedl89, @szymonbultrowicz, @lukasholzer, @lara-aigmueller, @heartdisease, @thomaspink, @tomheller

barista: consume barista json files instead of yaml front matter when building pages
  components/event-chart/barista.json
  components/icon/barista.json
  components/legend/barista.json
  package.json
  tools/barista/src/builder/components.ts
  tools/barista/src/transform.ts
  tools/barista/src/types.ts
Owners: @thomaspink, @tomheller, @ffriedl89, @lara-aigmueller

barista: minor barista page metadata adjustments
  components/radio/barista.json
  components/style/barista.json
  contributing.json
  documentation/barista-content.json
  documentation/barista-content.md
  readme.json
Owners: @thomaspink, @ffriedl89, @tomheller

docs: move front matter of core files to json files
  components/core/src/indicator/README.md
  components/core/src/indicator/barista.json
  components/core/src/viewport/README.md
  components/core/src/viewport/barista.json
Owners: @thomaspink, @ffriedl89, @tomheller

barista: remove front matter transformer
  tools/barista/src/builder/components.ts
  tools/barista/src/transform.ts
Owners: @lara-aigmueller, @thomaspink

fix(table): Fixes an issue that if a datasource was set to empty twice in a row the empty state was not visible
  components/table/src/table.spec.ts
  components/table/src/table.ts
Owners: @ffriedl89, @tomheller, @lara-aigmueller

fix(table): Fixes an issue that if a datasource was set to empty twice in a row the empty state was not visible
  components/table/src/table.spec.ts
  components/table/src/table.ts
Owners: @ffriedl89, @tomheller, @lara-aigmueller

build: Fixes CI to diff against origin/master
  .circleci/config.yml
  README.md
Owners: @thomaspink, @ffriedl89, @tomheller

build: Fixes CI to diff against origin/master
  .circleci/config.yml
  README.md
Owners: @thomaspink, @ffriedl89, @tomheller

barista(sidenav): generate sidenav json output, wip
  apps/barista/src/shared/page-contents.ts
  tools/barista/src/builder/components.ts
  tools/barista/src/main.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink

barista(paths): fix package json and paths to style sheet
  apps/barista/src/layout/smalltile/smalltile.scss
  apps/barista/src/pages/index-page/index-page.scss
  package.json
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink, @ffriedl89, @tomheller

barista(paths): fix package json and paths to style sheet
  apps/barista/src/layout/smalltile/smalltile.scss
  apps/barista/src/pages/index-page/index-page.scss
  package.json
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink, @ffriedl89, @tomheller

barista(frontmatter): edit outdated frontmatter
  components/breadcrumbs/barista.json
  components/event-chart/barista.json
  components/filter-field/barista.json
  components/switch/barista.json
  components/tag/barista.json
Owners: @ffriedl89, @szymonbultrowicz, @thomaspink, @tomheller, @lara-aigmueller, @rowa-audil

fix(chart): Fixes an issue where the tooltip was not shown when hovering the same data point twice. #139
  components/chart/src/chart.ts
  components/chart/src/highcharts/highcharts-tooltip-extensions.ts
  components/chart/src/tooltip/chart-tooltip.spec.ts
  components/chart/src/tooltip/chart-tooltip.ts
Owners: @ffriedl89, @lukasholzer

fix(chart): Fixes an issue where the tooltip was not shown when hovering the same data point twice. #139
  components/chart/src/chart.ts
  components/chart/src/highcharts/highcharts-tooltip-extensions.ts
  components/chart/src/tooltip/chart-tooltip.spec.ts
  components/chart/src/tooltip/chart-tooltip.ts
Owners: @ffriedl89, @lukasholzer

chore: bump version to 4.15.0 w/ changelog
  CHANGELOG.md
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller

chore: bug, feature and pull request templates added
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/pull-request.md
Owners: @thomaspink, @ffriedl89, @tomheller

chore: bug, feature and pull request templates added
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/pull-request.md
Owners: @thomaspink, @ffriedl89, @tomheller

feat(icon): Move to the @dynatrace/barista-icons package
  angular.json
  apps/barista-examples/src/icon/icon-all-example.ts
  apps/barista-examples/src/tree-table/tree-table-async-show-more-example.ts
  apps/barista-examples/src/tree-table/tree-table-default-example.ts
  apps/barista-examples/src/tree-table/tree-table-problem-indicator-example.ts
  apps/dev/src/tree-table/tree-table-demo.component.ts
  components/icon/README.md
  components/icon/src/icon-registry.ts
  components/icon/src/icon.ts
  components/package.json
  documentation/getting-started.md
Owners: @thomaspink, @ffriedl89, @tomheller, @lukasholzer

feat(icon): Move to the @dynatrace/barista-icons package
  angular.json
  apps/barista-examples/src/icon/icon-all-example.ts
  apps/barista-examples/src/tree-table/tree-table-async-show-more-example.ts
  apps/barista-examples/src/tree-table/tree-table-default-example.ts
  apps/barista-examples/src/tree-table/tree-table-problem-indicator-example.ts
  apps/dev/src/tree-table/tree-table-demo.component.ts
  components/icon/README.md
  components/icon/src/icon-registry.ts
  components/icon/src/icon.ts
  components/package.json
  documentation/getting-started.md
Owners: @thomaspink, @ffriedl89, @tomheller, @lukasholzer

barista: add documentation page builder
  contributing.json
  documentation/barista-content.md
  tools/barista/src/builder/components.ts
  tools/barista/src/utils/slugify.ts
Owners: @thomaspink, @ffriedl89, @tomheller, @lara-aigmueller

barista: add documentation page builder
  contributing.json
  documentation/barista-content.md
  tools/barista/src/builder/components.ts
  tools/barista/src/utils/slugify.ts
Owners: @thomaspink, @ffriedl89, @tomheller, @lara-aigmueller

chore: Removed unused codelyzer file
  codelyzer.json
Owners: @thomaspink, @ffriedl89, @tomheller

chore: Removed unused codelyzer file
  codelyzer.json
Owners: @thomaspink, @ffriedl89, @tomheller

chore: Added commit lint to validate our commit messages.
  CONTRIBUTING.md
  commitlint.config.js
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller

chore: Added commit lint to validate our commit messages.
  CONTRIBUTING.md
  commitlint.config.js
  package.json
Owners: @thomaspink, @ffriedl89, @tomheller
