Repository jvquarck/barista, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thomaspink, @ffriedl89, @tomheller, @lukasholzer, @lara-aigmueller, @szymonbultrowicz, @toddbaert, @moertenschlag, @rowa-audil, @heartdisease, @areknow, @NinaKammerlander

barista: generate pages from Strapi CMS
  tools/barista/src/builder/strapi.ts
  tools/barista/src/main.ts
  tools/barista/src/types.ts
  tools/barista/src/utils/fetch-strapi-content.ts
Owners: @lara-aigmueller, @thomaspink

barista: dockerize barista page builder
  .dockerignore
  tools/barista/Dockerfile
  tools/barista/README.md
Owners: @thomaspink, @ffriedl89, @tomheller

barista(overview-pages): Set the right order for documentation pages.
  apps/barista/src/shared/page-contents.ts
  tools/barista/src/builder/components.ts
  tools/barista/src/main.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink

barista(overview-pages): Code formatting.
  tools/barista/src/main.ts
Owners: @lara-aigmueller, @thomaspink

barista(styling): render table correctly
  apps/barista/src/pages/single-page/single-page.ts
  apps/barista/src/styles/global/_base.scss
  apps/barista/src/styles/global/_variables.scss
  apps/barista/src/utils/fillTableData.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink

barista(table): Changes according to PR review.
  apps/barista/src/pages/single-page/single-page.ts
  apps/barista/src/styles/global/_base.scss
  apps/barista/src/utils/fillTableData.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink

refactor(chart): Removes the circular dependency of the chart heatfield.
  angular.json
  apps/dev/src/chart/chart-demo.component.html
  components/chart/src/chart.spec.ts
  components/chart/src/chart.ts
  components/chart/src/heatfield/chart-heatfield.html
  components/chart/src/heatfield/chart-heatfield.spec.ts
  components/chart/src/heatfield/chart-heatfield.ts
  components/chart/src/tooltip/chart-tooltip.ts
  components/chart/src/utils.ts
Owners: @thomaspink, @ffriedl89, @tomheller, @lukasholzer

chore: Add browserstack to the README
  README.md
Owners: @thomaspink, @ffriedl89, @tomheller

fix(micro-chart): Fixes an issue when using the chart-tooltip in a micro-chart without importing the chart-module causes an error.
  components/micro-chart/src/micro-chart-module.ts
Owners: @thomaspink, @ffriedl89, @tomheller

chore: Add browserstack to the README
  README.md
Owners: @thomaspink, @ffriedl89, @tomheller

fix(micro-chart): Fixes an issue when using the chart-tooltip in a micro-chart without importing the chart-module causes an error.
  components/micro-chart/src/micro-chart-module.ts
Owners: @thomaspink, @ffriedl89, @tomheller

docs: Change the organization to the dynatrace-oss.
  CONTRIBUTING.md
  README.md
  RELEASE.md
  components/package.json
  tools/builders/package.json
Owners: @thomaspink, @ffriedl89, @tomheller, @lukasholzer

docs: Change the organization to the dynatrace-oss.
  CONTRIBUTING.md
  README.md
  RELEASE.md
  components/package.json
  tools/builders/package.json
Owners: @thomaspink, @ffriedl89, @tomheller, @lukasholzer

barista: Added breadcrumbs.
  apps/barista/src/app.html
  apps/barista/src/app.module.ts
  apps/barista/src/app.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink

barista: Export interfaces.
  tools/barista/src/types.ts
Owners: @lara-aigmueller, @thomaspink

fix: Added barista-fonts import in devapp main.scss.
  angular.json
Owners: @thomaspink, @ffriedl89, @tomheller

barista: Added homepage page builder and adjusted homepage layout according to data structure.
  apps/barista/src/layout/smalltile/smalltile.html
  apps/barista/src/layout/smalltile/smalltile.scss
  apps/barista/src/layout/smalltile/smalltile.ts
  apps/barista/src/pages/index-page/index-page.html
  apps/barista/src/shared/page-contents.ts
  tools/barista/src/builder/homepage.ts
  tools/barista/src/main.ts
  tools/barista/src/types.ts
  tools/barista/src/utils/fetch-strapi-content.ts
Owners: @lara-aigmueller, @NinaKammerlander, @thomaspink

fix(progress-bar): Fixes an issue when using the indicator without importing the core indicator-module causes an error.
  components/progress-bar/src/progress-bar-module.ts
Owners: @tomheller

fix(progress-bar): Fixes an issue when using the indicator without importing the core indicator-module causes an error.
  components/progress-bar/src/progress-bar-module.ts
Owners: @tomheller

barista: Replaced link-to-id helper with URLs
  components/alert/README.md
  components/button-group/README.md
  components/button/README.md
  components/card/README.md
  components/chart/README.md
  components/context-dialog/README.md
  components/copy-to-clipboard/README.md
  components/empty-state/README.md
  components/expandable-section/README.md
  components/filter-field/README.md
  components/form-field/README.md
  components/formatters/README.md
  components/icon/README.md
  components/info-group/README.md
  components/input/README.md
  components/loading-distractor/README.md
  components/menu/README.md
  components/micro-chart/README.md
  components/overlay/README.md
  components/pagination/README.md
  components/progress-bar/README.md
  components/show-more/README.md
  components/table/README.md
Owners: @lara-aigmueller, @tomheller, @thomaspink, @ffriedl89, @lukasholzer, @moertenschlag, @heartdisease

barista: Replaced link-to-id helper with URLs
  components/alert/README.md
  components/button-group/README.md
  components/button/README.md
  components/card/README.md
  components/chart/README.md
  components/context-dialog/README.md
  components/copy-to-clipboard/README.md
  components/empty-state/README.md
  components/expandable-section/README.md
  components/filter-field/README.md
  components/form-field/README.md
  components/formatters/README.md
  components/icon/README.md
  components/info-group/README.md
  components/input/README.md
  components/loading-distractor/README.md
  components/menu/README.md
  components/micro-chart/README.md
  components/overlay/README.md
  components/pagination/README.md
  components/progress-bar/README.md
  components/show-more/README.md
  components/table/README.md
Owners: @lara-aigmueller, @tomheller, @thomaspink, @ffriedl89, @lukasholzer, @moertenschlag, @heartdisease

barista: Added shared definitions library for barista and barista-tools
  angular.json
  apps/barista/src/app.ts
  apps/barista/src/layout/contributors/contributors.ts
  apps/barista/src/layout/page-header/page-header.ts
  apps/barista/src/pages/page-outlet.ts
  apps/barista/src/pages/single-page/single-page.ts
  apps/barista/src/shared/page-contents.ts
  apps/barista/src/shared/page.service.ts
  apps/barista/src/shared/recently-ordered.service.ts
  libs/shared/barista-definitions/README.md
  libs/shared/barista-definitions/src/index.ts
  libs/shared/barista-definitions/src/lib/barista-definitions.ts
  libs/shared/barista-definitions/tsconfig.json
  libs/shared/barista-definitions/tsconfig.lib.json
  libs/shared/barista-definitions/tslint.json
  nx.json
  tools/barista/src/builder/components.ts
  tools/barista/src/main.ts
  tools/barista/src/transform.spec.ts
  tools/barista/src/transform.ts
  tools/barista/tsconfig.json
  tsconfig.json
Owners: @thomaspink, @ffriedl89, @tomheller, @lara-aigmueller, @NinaKammerlander

barista: Added shared definitions library for barista and barista-tools
  angular.json
  apps/barista/src/app.ts
  apps/barista/src/layout/contributors/contributors.ts
  apps/barista/src/layout/page-header/page-header.ts
  apps/barista/src/pages/page-outlet.ts
  apps/barista/src/pages/single-page/single-page.ts
  apps/barista/src/shared/page-contents.ts
  apps/barista/src/shared/page.service.ts
  apps/barista/src/shared/recently-ordered.service.ts
  libs/shared/barista-definitions/README.md
  libs/shared/barista-definitions/src/index.ts
  libs/shared/barista-definitions/src/lib/barista-definitions.ts
  libs/shared/barista-definitions/tsconfig.json
  libs/shared/barista-definitions/tsconfig.lib.json
  libs/shared/barista-definitions/tslint.json
  nx.json
  tools/barista/src/builder/components.ts
  tools/barista/src/main.ts
  tools/barista/src/transform.spec.ts
  tools/barista/src/transform.ts
  tools/barista/tsconfig.json
  tsconfig.json
Owners: @thomaspink, @ffriedl89, @tomheller, @lara-aigmueller, @NinaKammerlander

barista: Generate pages from Strapi CMS and dockerize the page builder.
  .dockerignore
  libs/shared/barista-definitions/src/lib/barista-definitions.ts
  tools/barista/Dockerfile
  tools/barista/README.md
  tools/barista/src/builder/strapi.ts
  tools/barista/src/main.ts
  tools/barista/src/utils/fetch-strapi-content.ts
Owners: @thomaspink, @ffriedl89, @tomheller, @lara-aigmueller

chore: Various example & barista fixes to bring it back to life
  angular.json
  apps/barista/src/app.module.ts
  apps/barista/src/components/components.module.ts
  apps/barista/src/components/index.ts
  libs/examples/jest.config.js
  libs/examples/src/secondary-nav/secondary-nav-active-example/secondary-nav-active-example.ts
  libs/examples/src/secondary-nav/secondary-nav-default-example/secondary-nav-default-example.ts
  libs/examples/src/secondary-nav/secondary-nav-expandable-example/secondary-nav-expandable-example.ts
  libs/examples/src/secondary-nav/secondary-nav-external-example/secondary-nav-external-example.ts
  libs/examples/src/secondary-nav/secondary-nav-multi-example/secondary-nav-multi-example.ts
  libs/examples/src/test-setup.ts
  libs/examples/tsconfig.spec.json
Owners: @thomaspink, @ffriedl89, @tomheller, @lara-aigmueller, @NinaKammerlander

.github/CODEOWNERS:

/* @thomaspink @ffriedl89 @tomheller
/** @thomaspink @ffriedl89 @tomheller

# Components
/components/* @lukasholzer @thomaspink
/components/alert/** @lara-aigmueller
/components/autocomplete/** @thomaspink
/components/bar-indicator/** @tomheller
/components/breadcrumbs/** @ffriedl89 @szymonbultrowicz
/components/button/** @thomaspink
/components/button-group/** @tomheller
/components/card/** @ffriedl89
/components/chart/** @ffriedl89 @lukasholzer
/components/checkbox/** @thomaspink
/components/confirmation-dialog/** @toddbaert @ffriedl89
/components/consumption/** @ffriedl89
/components/container-breakpoint-observer/** @thomaspink
/components/context-dialog/** @ffriedl89
/components/copy-to-clipboard/** @ffriedl89 @moertenschlag
/components/cta-card/** @thomaspink
/components/drawer/** @lukasholzer @rowa-audil
/components/empty-state/** @lara-aigmueller @lukasholzer @heartdisease
/components/event-chart/** @thomaspink @tomheller
/components/expandable-panel/** @lara-aigmueller
/components/expandable-section/** @lara-aigmueller
/components/expandable-text/** @rowa-audil @ffriedl89
/components/filter-field/** @thomaspink @tomheller
/components/form-field/** @thomaspink
/components/formatters/** @ffriedl89
/components/highlight/** @lukasholzer
/components/icon/** @thomaspink
/components/info-group/** @ffriedl89
/components/inline-editor/** @thomaspink
/components/input/** @thomaspink
/components/key-value-list/** @ffriedl89 @moertenschlag
/components/legend/** @thomaspink
/components/link/** @szymonbultrowicz
/components/loading-distractor/** @thomaspink
/components/menu/** @heartdisease
/components/micro-chart/** @ffriedl89 dlaubi-dt
/components/overlay/** @ffriedl89
/components/pagination/** @lukasholzer
/components/progress-bar/** @tomheller
/components/progress-circle/** @ffriedl89
/components/radio/** @thomaspink
/components/schematics/** @ffriedl89
/components/secondary-nav/** @areknow @thomaspink
/components/select/** @thomaspink
/components/selection-area/** @ffriedl89 @lukasholzer
/components/show-more/** @lara-aigmueller
/components/stepper/** @ffriedl89
/components/switch/** @lara-aigmueller
/components/table/** @ffriedl89 @tomheller @lara-aigmueller
/components/tabs/** @ffriedl89
/components/tag/** @rowa-audil
/components/tile/** @ffriedl89
/components/timeline-chart/** @thomaspink
/components/toast/** @ffriedl89
/components/toggle-button-group/** @tomheller
/components/top-bar-navigation/** @lukasholzer
/components/tree-table/** @ffriedl89

# Apps
/apps/* @lukasholzer @thomaspink

# Barista
/apps/barista/* @thomaspink @lukasholzer
/apps/barista/src/** @lara-aigmueller @NinaKammerlander @thomaspink

# Barista-examples
/apps/barista-examples/* @thomaspink @lukasholzer
/apps/barista-examples/src/** @thomaspink @ffriedl89 @tomheller

# e2e
/apps/components-e2e/* @lukasholzer
/apps/components-e2e/src/** @lukasholzer

# Dev app
/apps/dev/* @thomaspink @lukasholzer
/apps/dev/src/** @thomaspink @lukasholzer

# Universal
/apps/universal/* @thomaspink @lukasholzer
/apps/universal/src/** @thomaspink @lukasholzer

# Documentation
/apps/documentation/** @lara-aigmueller

# Libs
/libs/* @lukasholzer @thomaspink
/libs/testing/** @thomaspink

# Tools
/tools/* @lukasholzer @thomaspink

/tools/barista/* @thomaspink
/tools/barista/src/** @lara-aigmueller @thomaspink

/tools/bitbucket-tools/* @tomheller
/tools/bitbucket-tools/src/** @tomheller

/tools/gulp/** @thomaspink

/tools/linting/* @thomaspink @lukasholzer
/tools/linting/src/** @rowa-audil @lara-aigmueller @heartdisease

/tools/release/** @thomaspink

/tools/schematics/** @ffriedl89

/tools/stylelint/** @thomaspink

/tools/tslint-rules/** @thomaspink
